
@function clampSang($pi){
  $a : 1rem;
  $b : (($pi * 100) / 1363)+vw; //  (‘px수치’ * 100) / ‘viewport width(변동)’
  $c : ($pi * 1/10)+rem;
  @return clamp($a, $b, $c);
}


#wrap {
  width: 100%;
  .bg {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 1080px;
    margin:0 auto;
    background:url(../images/bak.png) 50% 50% no-repeat;
    background-size: cover;
    opacity: 0.5;
    transform: translate(-50%, 0%);
  }
  #header {
    position: fixed;
    width: 100%;
    .container {
      width: 100%;
      max-width: 1620px;
      margin:0 auto;
      display: flex;
      justify-content: space-between;
      padding:clampSang(80) 10px;
      .left {
        width: auto;
        a {
          width: 100%;
          img {
            height: clampSang(43);
          }
        }
      }
      .right {
        width: auto;
        a {
          width: 100%;
          height: clampSang(43);
        }
      }
    }
  }

  #main {
    width: 100%;
    #section1 {
      width: 100%;
      .container {
        width: 100%;
        max-width: 1920px;
        max-height: 1080px;
        margin: 0 auto;
        .loader {
          width: 100%;
          max-width: 1920px;
          max-height: 1261px;
          width: 100%;
          circle {
            fill: none;
            stroke-width: 0.5;
            animation-name: preloader;
            animation-duration: 6s;
            animation-timing-function: ease-in-out;
            transform-origin: 555px 555px; // 기준점
            will-change: transform;
            animation-fill-mode:forwards;
            &:nth-of-type(1) {
              stroke-dasharray: 5px;
              opacity: 0.2;
            }

            &:nth-of-type(2) {
              stroke-dasharray: 5px;
              opacity: 0.4;
            }

            &:nth-of-type(3) {
              stroke-dasharray: 5px;
              opacity: 0.6;
            }

            &:nth-of-type(4) {
              stroke-dasharray: 5px;
              opacity: 0.9;
            }

            &:nth-of-type(5) {
              stroke-width: 0.8px;
              background-color: lightcoral;
            }


            // 작은원
            &:nth-of-type(6) {
              fill: #54C0E8;
            }

            &:nth-of-type(7) {
              fill: #FF5C35;
            }

            &:nth-of-type(8) {
              fill: #54C0E8;
            }

            &:nth-of-type(9) {
              fill: #FF5C35;
            }

            &:nth-of-type(10) {
              fill: #FF5C35;
            }

            &:nth-of-type(11) {
              fill: #54C0E8;
            }

            @for $i from 1 through 11 {
              &:nth-of-type(#{$i}) {
                animation-delay: -#{$i * 0.15}s;
              }
            }


          }

          .circle_g {
            filter:url('#goo');
            .main_circle {
              opacity: 1;
              fill: #FF5C35;
              animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 8s forwards;
              // animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 0s forwards;
            }
            .second_circle {
              opacity: 0;
              fill: #FF4713;
              animation: circleSecond 3s 5s forwards, circleScale3 3s ease-in-out 8s forwards;
              // animation: circleSecond 1s 0s forwards, circleScale3 3s ease-in-out 0s forwards;
            }
          }

          .halfCircle {
            opacity: 0;
            fill: #FF4713;
            animation: circleThird 2s 6s forwards, circleScale3 3s ease-in-out 8s forwards;
            // animation: circleThird 1s 0s forwards, circleScale3 3s ease-in-out 0s forwards;
          }
        }

        .textBox {
          position: absolute;
          top: clampSang(390);
          left: 11.7%;
          h1 {
            opacity: 0;
            font-family: 'SUIT-ExtraBold';
            font-size: clampSang(75);
            letter-spacing : 5px;
            margin-bottom: clampSang(35);;
            color:#000;
            &:nth-child(1){
              animation: textUp 3s 10s forwards;
            }
            &:nth-child(2){
              animation: textUp 3s 11s forwards;
            }
            &:nth-child(3){
              animation: textUp 3s 12s forwards;
            }
          }
          p {
            opacity: 0;
            padding-top: 15px;
            font-family: 'SUIT-Regular';
            font-size: clampSang(17);
            line-height: 1.5;
            font-weight: 600;
            animation: textRight 3s 14s forwards
          }
        }
      }
    }
    #section2 {
      position: relative;
      width: 100%;
      border: 1px solid red;
      padding:clampSang(510) 0 0 0;
      h1 {
        max-width: 1430px;
        margin:0 auto;
        font-family: 'SUIT-ExtraBold';
        font-size: clampSang(90);
        color:#3CB4E5;
        margin-bottom: 20px;
      }
      .sec2-bg {
        width: 100%;
        height: 455px;
        background-color: #3CB4E5;
        padding:clampSang(50) 0 0 0;
        .container {
          position: relative;
          width: 100%;
          max-width: 1430px;
          height: 1080px;
          margin: 0 auto;
          .text-box {
            width: 100%;
            p {
              font-family: 'SUIT-SemiBold';
              font-size: clampSang(30);
              color:#fff;
              line-height: 1.7;
            }
          }
        }
      }



      .bg2 {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 1920px;
        height: 1080px;
        background:url(../images/bak3.png) 50% 50% no-repeat;
        background-size: cover;
        opacity: 0.5;
      }
    }
  }
}

@keyframes preloader {
  // 0% {
  //   opacity: 0;
	// 	transform: scale(10);
  // }
	50% {
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: scale(10);
	}
}

@keyframes circleScale {
  15% {
		transform: scale(1);
    // fill:#FF4713;
    // transform: scale(24.5);
	}
	100% {
    fill:#FF4713;
    transform: scale(24.5);
	}
}

@keyframes circleScale2 {
  0% {
    fill:#FF4713;
    transform: scale(24.5);
    // fill:#FF4713;
    // transform: scale(24.5) translateX(0.7%);
	}
	100% {
    fill:#FF4713;
    transform: scale(24.5) translateX(0.7%);
	}
}

@keyframes circleScale3 {
  0% {
    transform: translateX(0%);
    // transform: translateX(17%);
	}
	100% {
    transform: translateX(17%);
	}
}

@keyframes circleSecond {
	0% {
    transform: translate(-20%, 20%);
		opacity: 0;
    // opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes circleThird {
	0% {
    transform: translateY(-5%);
		opacity: 0;
    // opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes textUp {
  0% {
		opacity: 0;
    transform: translateY(20%);
	}
	100% {
		opacity: 1;
    transform: translateY(0%);
	}
}

@keyframes textRight {
  0% {
		opacity: 0;
    transform: translateX(-5%);
	}
	100% {
		opacity: 1;
    transform: translateX(0%);
	}
}