#wrap {
  width: 100%;
}
#wrap .bg {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: url(../images/bak.png) 50% 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
  transform: translate(-50%, 0%);
}
#wrap #header {
  position: fixed;
  width: 100%;
}
#wrap #header .container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 5.8694057227vw, 8rem) 10px;
}
#wrap #header .container .left {
  width: auto;
}
#wrap #header .container .left a {
  width: 100%;
}
#wrap #header .container .left a img {
  height: clamp(1rem, 3.1548055759vw, 4.3rem);
}
#wrap #header .container .right {
  width: auto;
}
#wrap #header .container .right a {
  width: 100%;
  height: clamp(1rem, 3.1548055759vw, 4.3rem);
}
#wrap #main {
  width: 100%;
}
#wrap #main #section1 {
  width: 100%;
}
#wrap #main #section1 .container {
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}
#wrap #main #section1 .container .loader {
  width: 100%;
  max-width: 1920px;
  max-height: 1261px;
  width: 100%;
}
#wrap #main #section1 .container .loader circle {
  fill: none;
  stroke-width: 0.5;
  animation-name: preloader;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  transform-origin: 555px 555px;
  will-change: transform;
  animation-fill-mode: forwards;
}
#wrap #main #section1 .container .loader circle:nth-of-type(1) {
  stroke-dasharray: 5px;
  opacity: 0.2;
}
#wrap #main #section1 .container .loader circle:nth-of-type(2) {
  stroke-dasharray: 5px;
  opacity: 0.4;
}
#wrap #main #section1 .container .loader circle:nth-of-type(3) {
  stroke-dasharray: 5px;
  opacity: 0.6;
}
#wrap #main #section1 .container .loader circle:nth-of-type(4) {
  stroke-dasharray: 5px;
  opacity: 0.9;
}
#wrap #main #section1 .container .loader circle:nth-of-type(5) {
  stroke-width: 0.8px;
  background-color: lightcoral;
}
#wrap #main #section1 .container .loader circle:nth-of-type(6) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(7) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(8) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(9) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(10) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(11) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(1) {
  animation-delay: -0.15s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(2) {
  animation-delay: -0.3s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(3) {
  animation-delay: -0.45s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(4) {
  animation-delay: -0.6s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(5) {
  animation-delay: -0.75s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(6) {
  animation-delay: -0.9s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(7) {
  animation-delay: -1.05s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(8) {
  animation-delay: -1.2s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(9) {
  animation-delay: -1.35s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(10) {
  animation-delay: -1.5s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(11) {
  animation-delay: -1.65s;
}
#wrap #main #section1 .container .loader .circle_g {
  filter: url("#goo");
}
#wrap #main #section1 .container .loader .circle_g .main_circle {
  opacity: 1;
  fill: #FF5C35;
  animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .loader .circle_g .second_circle {
  opacity: 0;
  fill: #FF4713;
  animation: circleSecond 3s 5s forwards, circleScale3 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .loader .halfCircle {
  opacity: 0;
  fill: #FF4713;
  animation: circleThird 2s 6s forwards, circleScale3 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .textBox {
  position: absolute;
  top: clamp(1rem, 28.613352898vw, 39rem);
  left: 11.7%;
}
#wrap #main #section1 .container .textBox h1 {
  opacity: 0;
  font-family: "SUIT-ExtraBold";
  font-size: clamp(1rem, 5.502567865vw, 7.5rem);
  letter-spacing: 5px;
  margin-bottom: clamp(1rem, 2.5678650037vw, 3.5rem);
  color: #000;
}
#wrap #main #section1 .container .textBox h1:nth-child(1) {
  animation: textUp 3s 10s forwards;
}
#wrap #main #section1 .container .textBox h1:nth-child(2) {
  animation: textUp 3s 11s forwards;
}
#wrap #main #section1 .container .textBox h1:nth-child(3) {
  animation: textUp 3s 12s forwards;
}
#wrap #main #section1 .container .textBox p {
  opacity: 0;
  padding-top: 15px;
  font-family: "SUIT-Regular";
  font-size: clamp(1rem, 1.2472487161vw, 1.7rem);
  line-height: 1.5;
  font-weight: 600;
  animation: textRight 3s 14s forwards;
}
#wrap #main #section2 {
  position: relative;
  width: 100%;
  border: 1px solid red;
  padding: clamp(1rem, 37.417461482vw, 51rem) 0 0 0;
}
#wrap #main #section2 h1 {
  max-width: 1430px;
  margin: 0 auto;
  font-family: "SUIT-ExtraBold";
  font-size: clamp(1rem, 6.603081438vw, 9rem);
  color: #3CB4E5;
  margin-bottom: 20px;
}
#wrap #main #section2 .sec2-bg {
  width: 100%;
  height: 455px;
  background-color: #3CB4E5;
  padding: clamp(1rem, 3.6683785767vw, 5rem) 0 0 0;
}
#wrap #main #section2 .sec2-bg .container {
  position: relative;
  width: 100%;
  max-width: 1430px;
  height: 1080px;
  margin: 0 auto;
}
#wrap #main #section2 .sec2-bg .container .text-box {
  width: 100%;
}
#wrap #main #section2 .sec2-bg .container .text-box p {
  font-family: "SUIT-SemiBold";
  font-size: clamp(1rem, 2.201027146vw, 3rem);
  color: #fff;
  line-height: 1.7;
}
#wrap #main #section2 .bg2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: url(../images/bak3.png) 50% 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(10);
  }
}
@keyframes circleScale {
  15% {
    transform: scale(1);
  }
  100% {
    fill: #FF4713;
    transform: scale(24.5);
  }
}
@keyframes circleScale2 {
  0% {
    fill: #FF4713;
    transform: scale(24.5);
  }
  100% {
    fill: #FF4713;
    transform: scale(24.5) translateX(0.7%);
  }
}
@keyframes circleScale3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(17%);
  }
}
@keyframes circleSecond {
  0% {
    transform: translate(-20%, 20%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circleThird {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes textRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}