@charset "UTF-8";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Variable";
  src: url("../font/SUIT-Variable-woff2/SUIT-Variable.woff2") format("woff2");
  font-weight: 100 900;
}
@font-face {
  font-family: "SUIT-ExtraBold";
  src: url(../font/SUIT-woff2/SUIT-ExtraBold.woff2);
}
@font-face {
  font-family: "SUIT-ExtraLight";
  src: url(../font/SUIT-woff2/SUIT-ExtraBold.woff2);
}
@font-face {
  font-family: "SUIT-Bold";
  src: url(../font/SUIT-woff2/SUIT-Bold.woff2);
}
@font-face {
  font-family: "SUIT-SemiBold";
  src: url(../font/SUIT-woff2/SUIT-SemiBold.woff2);
}
* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 62.5%;
  box-sizing: border-box;
  font-size-adjust: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html {
  overflow-y: scroll; /* scroll-behavior: smooth; */
}

body {
  font: normal 14px/1 "Nanum Gothic", "Noto Sans", "Noto Sans KR", "Nanum Gothic", "malgun gothic", "Montserrat", "arial";
  color: #000;
  background: #fff;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: normal;
  font-size: 14px;
}

i, em, address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

strong, b, i, em, span, a {
  vertical-align: baseline;
}

.hide {
  display: none;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

#skip {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

#skip li {
  width: 100%;
}

#skip li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  font-size: 0;
  color: #fff;
  background: #000;
}

#skip li a:focus {
  height: 50px;
  font-size: 20px;
}

input {
  outline-offset: -1px;
}

#btn ul, #btn li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#btn .quick {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
#btn .quick li {
  width: 12px;
  height: 12px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}
#btn .quick .on {
  background: #000;
}
#btn .top_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  bottom: 10%;
  background: #FFFFFF;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  cursor: pointer;
}
#btn .arrow {
  content: "";
  width: 18px;
  height: 18px;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  transform: rotate(-45deg);
  display: inline-block;
  position: relative;
  top: 40%;
  left: 35%;
}

.scrollLock {
  overflow: hidden;
}

#main section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#wrap {
  width: 100%;
  position: relative;
  z-index: 1;
}
#wrap #modal {
  display: none;
  width: 100%;
}
#wrap #modal .container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #modal .container ul {
  padding: 0 80px;
  width: 1430px;
  height: 600px;
  font-size: clamp(9rem, 9.5377842993vw, 13rem);
  font-family: "SUIT-Variable";
  font-weight: 1000;
}
#wrap #modal .container ul li {
  width: 100%;
  line-height: 1.3;
}
#wrap #modal .container ul li a {
  color: #fff;
  transition: all 0.5s;
}
#wrap #modal .container ul li a:hover {
  color: #FF5C35;
}
#wrap .bg {
  display: none;
  position: absolute;
  top: 114%;
  left: 50%;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: url(../images/bak4.png) 50% 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
  transform: translate(-50%, 0%);
}
#wrap .testbtn {
  display: none;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: lightcoral;
  border: 0;
  font-size: 20px;
  color: #fff;
}
#wrap .endbtn {
  display: none;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 100px;
  padding: 20px;
  background-color: lightcoral;
  border: 0;
  font-size: 20px;
  color: #fff;
}
#wrap .js_animation {
  animation: oneEnd 3s ease-in-out forwards;
}
#wrap .js_animation_re {
  animation: oneRe 2s ease-in-out forwards;
}
#wrap #header {
  z-index: 3;
  position: fixed;
  width: 100%;
}
#wrap #header.logo_active .container .left a .logo {
  background: url(../images/logo_sub.png) no-repeat 0% 0%/contain;
}
#wrap #header.logo_active .container .right .ham .first_bar {
  background-color: #fff;
}
#wrap #header.logo_active .container .right .ham .second_bar {
  background-color: #fff;
}
#wrap #header .container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 3.6683785767vw, 5rem) 30px clamp(1rem, 5.8694057227vw, 8rem) 30px;
}
#wrap #header .container .left {
  width: auto;
}
#wrap #header .container .left a {
  width: 100%;
}
#wrap #header .container .left a .logo {
  width: 160px;
  background: url(../images/logo_main.png) no-repeat 0% 0%/contain;
  height: 43px;
}
#wrap #header .container .right {
  width: auto;
}
#wrap #header .container .right .ham {
  position: relative;
  display: block;
  width: 25px;
  height: 23px;
}
#wrap #header .container .right .ham .first_bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
  border-radius: 0 6px 0 0;
  transition: all 0.5s;
}
#wrap #header .container .right .ham .second_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
  border-radius: 0 0 0 6px;
  transition: all 0.5s;
}
#wrap #header .container .right .ham.active:hover .first_bar {
  background-color: #3CB4E5;
}
#wrap #header .container .right .ham.active:hover .second_bar {
  background-color: #3CB4E5;
}
#wrap #header .container .right .ham.active .first_bar {
  transform: translateY(8.5px) rotate(-45deg);
  border-radius: 5px;
  background-color: #fff;
}
#wrap #header .container .right .ham.active .second_bar {
  transform: translateY(-8.5px) rotate(45deg);
  border-radius: 5px;
  background-color: #fff;
}
#wrap #main {
  position: relative;
  z-index: -2;
  width: 100%;
  /* section3(회사정보 및 연결) */
  /* section4(인력 구인) */
}
#wrap #main #section1 {
  width: 100%;
  opacity: 1;
}
#wrap #main #section1 .container {
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}
#wrap #main #section1 .container .loader {
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 1261px;
}
#wrap #main #section1 .container .loader circle {
  fill: none;
  stroke-width: 0.5;
  animation-name: preloader;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  transform-origin: 555px 555px;
  will-change: transform;
  animation-fill-mode: forwards;
}
#wrap #main #section1 .container .loader circle:nth-of-type(1) {
  stroke-dasharray: 5px;
  opacity: 0.2;
}
#wrap #main #section1 .container .loader circle:nth-of-type(2) {
  stroke-dasharray: 5px;
  opacity: 0.4;
}
#wrap #main #section1 .container .loader circle:nth-of-type(3) {
  stroke-dasharray: 5px;
  opacity: 0.6;
}
#wrap #main #section1 .container .loader circle:nth-of-type(4) {
  stroke-dasharray: 5px;
  opacity: 0.9;
}
#wrap #main #section1 .container .loader circle:nth-of-type(5) {
  stroke-width: 0.8px;
  background-color: lightcoral;
}
#wrap #main #section1 .container .loader circle:nth-of-type(6) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(7) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(8) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(9) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(10) {
  fill: #FF5C35;
}
#wrap #main #section1 .container .loader circle:nth-of-type(11) {
  fill: #54C0E8;
}
#wrap #main #section1 .container .loader circle:nth-of-type(1) {
  animation-delay: -0.15s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(2) {
  animation-delay: -0.3s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(3) {
  animation-delay: -0.45s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(4) {
  animation-delay: -0.6s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(5) {
  animation-delay: -0.75s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(6) {
  animation-delay: -0.9s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(7) {
  animation-delay: -1.05s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(8) {
  animation-delay: -1.2s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(9) {
  animation-delay: -1.35s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(10) {
  animation-delay: -1.5s;
}
#wrap #main #section1 .container .loader circle:nth-of-type(11) {
  animation-delay: -1.65s;
}
#wrap #main #section1 .container .loader .circle_g {
  filter: url("#goo");
}
#wrap #main #section1 .container .loader .circle_g .main_circle {
  opacity: 1;
  fill: #FF5C35;
  animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .loader .circle_g .second_circle {
  opacity: 0;
  fill: #FF4713;
  animation: circleSecond 3s 5s forwards, circleScale3 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .loader .halfCircle {
  opacity: 0;
  fill: #FF4713;
  animation: circleThird 2s 6s forwards, circleScale3 3s ease-in-out 8s forwards;
}
#wrap #main #section1 .container .textBox {
  position: absolute;
  top: clamp(1rem, 28.613352898vw, 39rem);
  left: 11.7%;
}
#wrap #main #section1 .container .textBox h1 {
  opacity: 0;
  font-family: "SUIT-Variable";
  font-size: clamp(1rem, 5.8694057227vw, 8rem);
  letter-spacing: 5px;
  margin-bottom: clamp(1rem, 2.9347028613vw, 4rem);
  color: #000;
  font-weight: 900;
}
#wrap #main #section1 .container .textBox h1:nth-child(1) {
  animation: textUp 3s 10s forwards;
}
#wrap #main #section1 .container .textBox h1:nth-child(2) {
  animation: textUp 3s 11s forwards;
}
#wrap #main #section1 .container .textBox h1:nth-child(3) {
  animation: textUp 3s 12s forwards;
}
#wrap #main #section1 .container .textBox p {
  opacity: 0;
  padding-top: 15px;
  font-family: "SUIT-Regular";
  font-size: clamp(1rem, 1.2472487161vw, 1.7rem);
  line-height: 1.5;
  font-weight: 600;
  animation: textRight 3s 14s forwards;
}
#wrap #main #section2 {
  position: relative;
  width: 100%;
}
#wrap #main #section2.sec2_ani_start .gap .container .main_text h1 {
  animation: textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 7s forwards;
}
#wrap #main #section2.sec2_ani_start .gap .container .main_text span {
  animation: textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 8s forwards;
}
#wrap #main #section2.sec2_ani_start .gap .container .sec_text {
  animation: textUp_sec2 2s ease-in-out 5s forwards, sizeUp 1s ease-in-out 9s forwards;
}
#wrap #main #section2.sec2_ani_start .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(1) {
  animation: sec2Circle 3s ease-in-out forwards;
}
#wrap #main #section2.sec2_ani_start .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(2) {
  animation: sec2Circle 3s ease-in-out 0.5s forwards;
}
#wrap #main #section2.sec2_ani_start .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(3) {
  animation: sec2Circle 3s ease-in-out 1s forwards;
}
#wrap #main #section2.sec2_ani_start .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(4) {
  animation: sec2Circle 3s ease-in-out 1.5s forwards;
}
#wrap #main #section2 .gap {
  position: absolute;
  top: 48%;
  left: 0%;
  z-index: 2;
  width: 100%;
}
#wrap #main #section2 .gap .container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}
#wrap #main #section2 .gap .container .main_text {
  display: flex;
  max-width: 1430px;
}
#wrap #main #section2 .gap .container .main_text h1 {
  opacity: 0;
  font-size: clamp(1rem, 6.603081438vw, 9rem);
  font-family: "SUIT-ExtraBold";
  margin-bottom: 20px;
  color: #fff;
  text-shadow: -1px 0px #3CB4E5, 0px 1px #3CB4E5, 1px 0px #3CB4E5, 0px -1px #3CB4E5;
}
#wrap #main #section2 .gap .container .main_text span {
  opacity: 0;
  font-size: clamp(1rem, 6.603081438vw, 9rem);
  font-family: "SUIT-ExtraBold";
  text-shadow: -1px 0px #3CB4E5, 0px 1px #3CB4E5, 1px 0px #3CB4E5, 0px -1px #3CB4E5;
  color: #fff;
  padding: 0 0 0 25px;
}
#wrap #main #section2 .gap .container .sec_text {
  opacity: 0;
  width: 100%;
  transform: scale(0.8);
  transform-origin: 0 0;
  padding: 50px 0 0 0;
}
#wrap #main #section2 .gap .container .sec_text p {
  font-family: "SUIT-SemiBold";
  font-size: clamp(1rem, 2.201027146vw, 3rem);
  color: #fff;
  line-height: 1.7;
}
#wrap #main #section2 .bg2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: url(../images/bak3.png) 50% 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
}
#wrap #main #section2 .sec2_loader {
  max-width: 1920px;
  max-height: 1080px;
  z-index: 1;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 {
  width: 100%;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 .sec2_circle {
  fill: #FF4713;
  transform: translate(70%, 7%) rotate(-30deg);
  transform-origin: 0 0;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(1) {
  opacity: 0.7;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(2) {
  opacity: 0.5;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(3) {
  opacity: 0.3;
}
#wrap #main #section2 .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(4) {
  opacity: 0.1;
}
#wrap #main #section3 {
  /* contact버튼 마우스 호버 - 추후 클릭으로 변경 예정*/
  /* 회사 정보 및 연결 정보 기입 창 */
  /* section3_animation */
}
#wrap #main #section3 .container {
  margin: 0 auto;
  /* width: 1920px; */
  width: 100vw;
  color: #000;
  position: relative;
}
#wrap #main #section3 .top_box {
  width: 100%;
  /* height: 200px; */
  height: clamp(1rem, 10.41667vw, 20rem);
  background-color: #3CB4E5;
}
#wrap #main #section3 .container {
  margin: 0 auto;
  /* width: 1920px; */
  width: 100vw;
  color: #000;
  position: relative;
}
#wrap #main #section3 .top_box {
  width: 100%;
  /* height: 200px; */
  height: clamp(1rem, 10.41667vw, 20rem);
  background-color: #3CB4E5;
}
#wrap #main #section3 .cnt_box {
  margin: 0 auto;
  width: clamp(1rem, 83.334%, 160rem);
  height: clamp(1rem, 45.8333vw, 88rem);
  /* height: 880px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}
#wrap #main #section3 .contact_container b {
  font-size: clamp(1rem, 0.9375vw, 1.8rem);
  /* font-size: 18px; */
  font-weight: 600;
  font-family: "SUIT-Bold";
}
#wrap #main #section3 address {
  font-size: clamp(1rem, 0.9375vw, 1.8rem);
  /* font-size: 18px; */
  /* margin-top: 40px; */
  margin-top: clamp(1rem, 2.08333vw, 4rem);
  font-family: "SUIT-Regular";
}
#wrap #main #section3 .contact_btn {
  /* width: 166px;
  height: 50px; */
  width: clamp(1rem, 8.6458334vw, 16.6rem);
  height: clamp(1rem, 2.6041667vw, 5rem);
  background-color: #000;
  color: #fff;
  text-align: center;
  /* line-height: 50px; */
  line-height: clamp(1rem, 2.6041667vw, 5rem);
  /* border-radius: 80px; */
  border-radius: clamp(1rem, 4.1667vw, 8rem);
  cursor: pointer;
  transition: all 0.3s;
  /* margin-top: 50px; */
  margin-top: clamp(1rem, 2.6041776vw, 5rem);
}
#wrap #main #section3 .contact_btn p {
  /* font-size: 16px; */
  font-size: clamp(5px, 0.8333vw, 1.6rem);
  font-family: "SUIT-Bold";
}
#wrap #main #section3 .contact_btn .contact_wrap {
  opacity: 0;
}
#wrap #main #section3 .contact_btn:hover {
  /* width: 730px;height: 313px;
  border-radius: 25px;
  padding: 20px 30px; */
  width: clamp(1rem, 38.0208333vw, 73rem);
  height: clamp(1rem, 16.30208333vw, 31.3rem);
  border-radius: clamp(1rem, 1.30208333vw, 2.5rem);
  padding: clamp(1rem, 1.041667vw, 2rem) clamp(1rem, 1.5625vw, 3rem);
  background-color: #000;
  color: #fff;
  cursor: auto;
}
#wrap #main #section3 .contact_btn:hover > p {
  display: none;
}
#wrap #main #section3 .contact_btn:hover .contact_wrap {
  opacity: 1;
  transition: all 0.3s;
  /* margin-top: -20px;
  margin-left: -30px; */
  margin-top: clamp(-2rem, -1.041667vw, -1rem);
  margin-left: clamp(-3rem, -1.5625vw, -1rem);
}
#wrap #main #section3 .contact_wrap {
  /* width: 790px;height: 313px; */
  width: clamp(1rem, 41.1458333vw, 79rem);
  height: clamp(1rem, 16.30208333vw, 31.3rem);
  display: flex;
  opacity: 0;
}
#wrap #main #section3 .contact_wrapper {
  /* width: 730px;height: 313px;
  border-radius: 25px;
  padding: 20px 30px; */
  width: clamp(1rem, 38.0208333vw, 73rem);
  height: clamp(1rem, 16.30208333vw, 31.3rem);
  border-radius: clamp(1rem, 1.30208333vw, 2.5rem);
  padding: clamp(1rem, 1.041667vw, 2rem) clamp(1rem, 1.5625vw, 3rem);
  background-color: #000;
  color: #fff;
}
#wrap #main #section3 .input_box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
#wrap #main #section3 .input_box p:last-child input {
  /* width: 670px; */
  width: clamp(1rem, 34.8958333vw, 67rem);
}
#wrap #main #section3 .input_box p:nth-child(2) input,
#wrap #main #section3 .input_box p:nth-child(4) input {
  /* margin-left: 30px; */
  margin-left: clamp(1rem, 1.5625vw, 3rem);
}
#wrap #main #section3 input[placeholder] {
  /* width: 320px;height: 50px; */
  width: clamp(1rem, 16.667vw, 32rem);
  height: clamp(1rem, 2.6041667vw, 5rem);
  /* font-size: 14px; */
  font-size: clamp(0.5rem, 0.7291667vw, 1.4rem);
  color: #fff;
  font-family: "SUIT-Light";
  border: 0;
  background-color: #000;
  outline: none;
  border-bottom: 1px solid #d9d9d9;
  /* margin-bottom: 20px; */
  margin-bottom: clamp(1rem, 1.041667vw, 2rem);
}
#wrap #main #section3 .send_btn {
  /* width: 670px;height: 50px; */
  width: clamp(1rem, 34.8958333vw, 67rem);
  height: clamp(1rem, 2.6041667vw, 5rem);
  background-color: #fff;
  color: #000;
  /* font-size: 14px; */
  font-size: clamp(1rem, 0.7291667vw, 1.4rem);
  font-family: "SUIT-Bold";
  text-align: center;
  /* line-height: 50px; */
  line-height: clamp(1rem, 2.6041667vw, 5rem);
  /* border-radius: 25px; */
  border-radius: clamp(1rem, 1.30208333vw, 2.5rem);
  cursor: pointer;
}
#wrap #main #section3 .close_btn {
  /* width: 50px;height: 50px; */
  width: clamp(1rem, 2.6041667vw, 5rem);
  height: clamp(1rem, 2.6041667vw, 5rem);
  /* margin-left: 10px; */
  margin-left: clamp(1rem, 0.5208333vw, 1rem);
  background: url(../images/close_btn.png) no-repeat 0 0/auto 100%;
  background-size: contain;
  cursor: pointer;
}
#wrap #main #section3 canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap #main #section4 .container {
  margin: 0 auto;
  /* width: 1920px; */
  width: 100vw;
  color: #000;
  position: relative;
}
#wrap #main #section4 .top_view {
  /* width: 1419px;height: 227px; */
  width: clamp(1rem, 73.90625vw, 141.9rem);
  height: clamp(1rem, 11.82291667vw, 22.7rem);
  background: url(../images/s4_top.png) no-repeat 0 0/auto 100%;
  background-size: contain;
  position: absolute;
  right: 0;
}
#wrap #main #section4 .cnt_box {
  margin: 0 auto;
  /* width: 1600px;
  height: 1080px; */
  width: clamp(1rem, 83.333vw, 160rem);
  height: clamp(1rem, 56.25vw, 108rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#wrap #main #section4 .logo_container {
  display: flex;
  flex-direction: column;
  /* margin-top: 300px; */
  margin-top: clamp(1rem, 15.625vw, 30rem);
}
#wrap #main #section4 .career_container b {
  /* font-size: 40px; */
  font-size: clamp(1rem, 2.08333vw, 4rem);
  font-weight: bold;
  font-family: "SUIT-Heavy";
}
#wrap #main #section4 .career_container p {
  /* font-size: 18px;line-height: 30px; */
  font-size: clamp(1rem, 0.9375vw, 1.8rem);
  line-height: clamp(1rem, 1.5625vw, 3rem);
  font-family: "SUIT-Regular";
  /* margin-top: 25px;
  width: 410px; */
  margin-top: clamp(1rem, 1.30208333vw, 2.5rem);
  width: clamp(1rem, 21.3541667vw, 41rem);
}
#wrap #main #section4 .job_btn {
  /* width: 230px;height: 50px;
  font-size: 18px;line-height: 50px; */
  width: clamp(1rem, 11.9791667vw, 23rem);
  height: 1rem, 2.6041667vw, 5rem;
  font-size: clamp(0.5rem, 0.9375vw, 1.8rem);
  height: 1rem, 2.6041667vw, 5rem;
  font-family: "SUIT-Bold";
  text-align: center;
  border: 1px solid #000;
  /* border-radius: 25px;
  margin-top: 40px; */
  border-radius: clamp(1rem, 1.30208333vw, 2.5rem);
  margin-top: clamp(1rem, 2.08333vw, 4rem);
  cursor: pointer;
}
#wrap #main #section4 .big_logo {
  /* width: 789px;height: 212px; */
  width: clamp(1rem, 41.09375vw, 78.9rem);
  height: clamp(1rem, 11.041667vw, 21.2rem);
  background: url(../images/logo_large.png) no-repeat 0 0/auto 100%;
  background-size: contain;
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: scale(10);
  }
}
@keyframes circleScale {
  15% {
    transform: scale(1);
  }
  100% {
    fill: #FF4713;
    transform: scale(24.5);
  }
}
@keyframes circleScale2 {
  0% {
    fill: #FF4713;
    transform: scale(24.5);
  }
  100% {
    fill: #FF4713;
    transform: scale(24.5) translateX(0.7%);
  }
}
@keyframes circleScale3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(17%);
  }
}
@keyframes circleSecond {
  0% {
    transform: translate(-20%, 20%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circleThird {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes textRight {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes oneEnd {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}
@keyframes oneRe {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes sec2Circle {
  80% {
    fill: #FF4713;
    opacity: 0.9;
  }
  100% {
    transform: rotate(-0.2deg) translate(50%, 115%) scale(4);
    fill: #3CB4E5;
    opacity: 1;
  }
}
@keyframes wave {
  0% {
    background-position: left 0px bottom -80px;
  }
  100% {
    background-position: left 1500px bottom 20px;
  }
}
@keyframes sec2_h1 {
  100% {
    color: #3CB4E5;
    text-shadow: none;
  }
}
@keyframes sizeUp {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes textUp_sec2 {
  0% {
    opacity: 0;
    transform: translateY(20%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(0.8);
  }
}
@media all and (max-width: 576px) {
  #wrap #header .container .left a .logo {
    height: 25px;
  }
  #wrap #header .container .right .ham {
    width: 15px;
    height: 13px;
  }
  #wrap #header .container .right .ham .first_bar {
    height: 4px;
    border-radius: 0 3px 0 0;
  }
  #wrap #header .container .right .ham .second_bar {
    height: 4px;
    border-radius: 0 0 0 3px;
  }
  #wrap #header .container .right .ham.active .first_bar {
    transform: translateY(4.5px) rotate(-45deg);
    border-radius: 5px;
    background-color: #fff;
  }
  #wrap #header .container .right .ham.active .second_bar {
    transform: translateY(-4.5px) rotate(45deg);
    border-radius: 5px;
    background-color: #fff;
  }
}
@media all and (max-width: 992px) {
  #wrap #main #section2 .gap {
    position: absolute;
    top: 45%;
    padding: 0 0 0 30px;
  }
  #wrap #main #section2 .gap .container .main_text h1 {
    margin-bottom: 0px;
  }
  #wrap #main #section2 .gap .container .main_text span {
    padding: 0 0 0 5px;
  }
  #wrap #main #section2 .gap .container .sec_text {
    padding: 10px 0 0 0;
  }
}