// 폰트
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Variable';
    src: url('../font/SUIT-Variable-woff2/SUIT-Variable.woff2') format('woff2');
    font-weight: 100 900;
}
@font-face{
    font-family:'SUIT-ExtraBold';
    src:url(../font/SUIT-woff2/SUIT-ExtraBold.woff2);
}
@font-face{
    font-family:'SUIT-ExtraLight';
    src:url(../font/SUIT-woff2/SUIT-ExtraBold.woff2);
}
@font-face{
    font-family:'SUIT-Bold';
    src:url(../font/SUIT-woff2/SUIT-Bold.woff2);
}
@font-face{
    font-family:'SUIT-SemiBold';
    src:url(../font/SUIT-woff2/SUIT-SemiBold.woff2);
}

// reset
* {margin: 0;padding: 0;vertical-align:middle;font-size: 62.5%;box-sizing: border-box;font-size-adjust:100%;}
html,body {width: 100%;height: 100%;}
html,body {width: 100%;height: 100%;margin:0px;padding:0px;overflow: hidden;}
// 풀페이지 스크롤 시 주석 풀 것
html {overflow-y: scroll;/* scroll-behavior: smooth; */}
body {font: normal 14px/1 'Nanum Gothic','Noto Sans', 'Noto Sans KR', 'Nanum Gothic', 'malgun gothic', 'Montserrat', 'arial';color:#000;background: #fff;}
h1,h2,h3,h4,h5,h6,strong,b {font-weight: normal;font-size: 14px;}
i,em,address {font-style: normal;}
ul {list-style: none;}
a {color:#000;text-decoration: none;;}
strong,b,i,em,span,a {vertical-align: baseline;}
.hide {display: none;}
.clear::after {content:"";display: block;clear: both;}
#skip {position: absolute;z-index: 2;width:100%;top:0;left:0;}
#skip li {width:100%;}
#skip li a {display:flex;align-items: center;justify-content: center;width:100%;height:0;font-size:0;color:#fff;background: #000;}
#skip li a:focus {height:50px;font-size:20px;}
input {outline-offset:-1px;}

// 탭,탑 버튼
#btn{
    ul, li{margin:0;padding:0;list-style:none}
	.quick {position:fixed;right:30px;top:50%;transform:translateY(-50%); z-index:100}
	.quick li {width:12px;height:12px;margin-bottom:10px; border-radius:50%;border:1px solid #000;cursor:pointer;}
	.quick .on {background:#000;}

    .top_btn{
      width: 60px;height: 60px;
      border-radius: 50%;
      position: fixed;
      left: 50%;
      bottom: 10%;
      background: #FFFFFF;
      box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.25);
      z-index: 100;
      cursor: pointer;
    }
    .arrow{
      content: '';
      width: 18px;
      height: 18px;
      border-top: 2px solid rgba(0, 0, 0, 0.40);
      border-right: 2px solid rgba(0, 0, 0, 0.40);
      transform: rotate(-45deg);
      display: inline-block;
      position: relative;
      top: 40%;left: 35%;
    }
}

.scrollLock {
  overflow: hidden;
}

// section{position: absolute;top: 0;left: 0;opacity: 0;}
#main section{position: absolute;top: 0;left: 0;opacity: 0;}
// 풀페이지 스크롤 시 주석 풀 것

// 상호
@function clampSang($pi){
    $a : 1rem;
    $b : (($pi * 100) / 1363)+vw; //  (‘px수치’ * 100) / ‘viewport width(변동)’
    $c : ($pi * 1/10)+rem;
    @return clamp($a, $b, $c);
  }

  #wrap {
    width: 100%;
    position: relative;
    z-index: 1;
    // modal
    #modal {
      // opacity: 0;
      display: none;
      width: 100%;
      .container {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          padding:0 80px;
          width: 1430px;
          height: 600px;
          font-size: clamp(9rem, 9.5377842993vw, 13rem);
          font-family: 'SUIT-Variable';
          font-weight: 1000;
          li {
            width: 100%;
            line-height: 1.3;
            a {
              color:#fff;
              transition: all 0.5s;
              &:hover {
                color:#FF5C35;
              }
            }
          }
        }
      }
    }


    .bg {
      display: none;
      position: absolute;
      top: 114%;
      left: 50%;
      width: 1920px;
      height: 1080px;
      // height: 100vh;
      margin:0 auto;
      background:url(../images/bak4.png) 50% 50% no-repeat;
      background-size: cover;
      opacity: 0.5;
      transform: translate(-50%, 0%);
    }
    .testbtn {
      display: none;
      z-index: 4;
      position: absolute;
      top: 0;
      left: 0;
      padding:20px;
      background-color: lightcoral;
      border: 0;
      font-size: 20px;
      color:#fff;
    }
    .endbtn {
      display: none;
      z-index: 4;
      position: absolute;
      top: 0;
      left: 100px;
      padding:20px;
      background-color: lightcoral;
      border: 0;
      font-size: 20px;
      color:#fff;
    }

    .js_animation { // 위로 사라진다
      animation: oneEnd 2s ease-in-out forwards;
    }
    .js_animation_re { // 아래 나타난다
      animation: oneRe 2s ease-in-out forwards;
    }

    #header {
      z-index:3;
      position:fixed;
      width: 100%;
      &.logo_active { // 헤더 흰색 전환
        .container .left a .logo {
          background: url(../images/logo_sub.png) no-repeat 0% 0%/contain;
        }
        .container .right .ham .first_bar {
          background-color: #fff;
        }
        .container .right .ham .second_bar {
          background-color: #fff;
        }
      }

      .container {
        width: 100%;
        max-width: 1620px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        padding:clampSang(50) 30px clampSang(80) 30px;
        .left {
          width: auto;
          a {
            width: 100%;
            .logo {
              width: 160px;
              background:url(../images/logo_main.png) no-repeat 0% 0%/contain;
              height: 43px;

            }
          }
        }
        .right {
          width: auto;
          .ham {
            position: relative;
            display: block;
            width: 25px;
            height: 23px;
            .first_bar {
              position: absolute;
              top: 0;
              width: 100%;
              height: 6px;
              background-color: #000;
              border-radius: 0 6px 0 0;
              transition: all 0.5s;
            }
            .second_bar {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 6px;
              background-color: #000;
              border-radius: 0 0 0 6px;
              transition: all 0.5s;
            }
            &.active {
              &:hover {
                .first_bar {
                  background-color: #3CB4E5;
                }
                .second_bar {
                  background-color: #3CB4E5;
                }
              }
              .first_bar {
                transform: translateY(8.5px) rotate(-45deg);
                border-radius: 5px;
                background-color: #fff;
              }
              .second_bar {
                transform: translateY(-8.5px) rotate(45deg);
                border-radius: 5px;
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    #main {
      position: relative;
      z-index: -2;
      width: 100%;
      #section1 {
        width: 100%;
        opacity: 1;
        // border: 1px solid blue;
        .container {
          width: 100%;
          max-width: 1920px;
          // height: 100vh;
          // border: 1px solid blue;
          max-height: 1080px;
          margin: 0 auto;
          .loader {
            width: 100%;
            max-width: 1920px;
            height: auto;
            max-height: 1261px;
            circle {
              fill: none;
              stroke-width: 0.5;
              animation-name: preloader;
              animation-duration: 6s;
              animation-timing-function: ease-in-out;
              transform-origin: 555px 555px; // 기준점
              will-change: transform;
              animation-fill-mode:forwards;
              &:nth-of-type(1) {
                stroke-dasharray: 5px;
                opacity: 0.2;
              }

              &:nth-of-type(2) {
                stroke-dasharray: 5px;
                opacity: 0.4;
              }

              &:nth-of-type(3) {
                stroke-dasharray: 5px;
                opacity: 0.6;
              }

              &:nth-of-type(4) {
                stroke-dasharray: 5px;
                opacity: 0.9;
              }

              &:nth-of-type(5) {
                stroke-width: 0.8px;
                background-color: lightcoral;
              }


              // 작은원
              &:nth-of-type(6) {
                fill: #54C0E8;
              }

              &:nth-of-type(7) {
                fill: #FF5C35;
              }

              &:nth-of-type(8) {
                fill: #54C0E8;
              }

              &:nth-of-type(9) {
                fill: #FF5C35;
              }

              &:nth-of-type(10) {
                fill: #FF5C35;
              }

              &:nth-of-type(11) {
                fill: #54C0E8;
              }

              @for $i from 1 through 11 {
                &:nth-of-type(#{$i}) {
                  animation-delay: -#{$i * 0.15}s;
                }
              }


            }

            .circle_g {
              filter:url('#goo');
              .main_circle {
                opacity: 1;
                fill: #FF5C35;
                animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 8s forwards;
                // animation: circleScale 5s ease-in-out 1 both, circleScale2 3s ease-in-out 0s forwards;
              }
              .second_circle {
                opacity: 0;
                fill: #FF4713;
                animation: circleSecond 3s 5s forwards, circleScale3 3s ease-in-out 8s forwards;
                // animation: circleSecond 1s 0s forwards, circleScale3 3s ease-in-out 0s forwards;
              }
            }

            .halfCircle {
              opacity: 0;
              fill: #FF4713;
              animation: circleThird 2s 6s forwards, circleScale3 3s ease-in-out 8s forwards;
              // animation: circleThird 1s 0s forwards, circleScale3 3s ease-in-out 0s forwards;
            }
          }

          .textBox {
            position: absolute;
            top: clampSang(390);
            left: 11.7%;
            // animation:oneEnd 2s ease-in-out 15s forwards;
            h1 {
              opacity: 0;
              font-family: 'SUIT-Variable';
              font-size: clampSang(80);
              letter-spacing : 5px;
              margin-bottom: clampSang(40);;
              color:#000;
              font-weight: 900;
              &:nth-child(1){
                animation: textUp 3s 10s forwards;
              }
              &:nth-child(2){
                animation: textUp 3s 11s forwards;
              }
              &:nth-child(3){
                animation: textUp 3s 12s forwards;
              }
            }
            p {
              opacity: 0;
              padding-top: 15px;
              font-family: 'SUIT-Regular';
              font-size: clampSang(17);
              line-height: 1.5;
              font-weight: 600;
              animation: textRight 3s 14s forwards
            }
          }
        }
      }
      #section2 {
        position: relative;
        width: 100%;
        // border: 1px solid red;
        &.sec2_ani_start {
          .gap .container {
            .main_text {
              h1 {
                animation:textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 7s forwards;
              }
              span {
                animation:textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 8s forwards;
              }
            }
            .sec_text {
              animation:textUp_sec2 2s ease-in-out 5s forwards, sizeUp 1s ease-in-out 9s forwards;
            }
          }
          .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(1) {
            animation: sec2Circle 3s ease-in-out forwards;
          }
          .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(2) {
            animation: sec2Circle 3s ease-in-out 0.5s forwards;
          }
          .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(3) {
            animation: sec2Circle 3s ease-in-out 1s forwards;
          }
          .sec2_loader #circle_g_sec2 .sec2_circle:nth-child(4) {
            animation: sec2Circle 3s ease-in-out 1.5s forwards;
          }
        }
        .gap {
          position: absolute;
          top: 48%;
          left: 0%;
          z-index: 2;
          width: 100%;
          .container {
            width: 100%;
            max-width: 1430px;
            margin: 0 auto;
            .main_text {
              display: flex;
              max-width: 1430px;
              h1 {   // 디지털교과서부터 AI교과서까지
                opacity: 0;
                font-size: clampSang(90);
                font-family: 'SUIT-ExtraBold';
                margin-bottom: 20px;
                color:#fff;
                text-shadow: -1px 0px #3CB4E5, 0px 1px #3CB4E5,1px 0px #3CB4E5, 0px -1px #3CB4E5;
                // animation:textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 7s forwards;
              }
              span {
                opacity: 0;
                font-size: clampSang(90);
                font-family: 'SUIT-ExtraBold';
                text-shadow: -1px 0px #3CB4E5, 0px 1px #3CB4E5,1px 0px #3CB4E5, 0px -1px #3CB4E5;
                color:#fff;
                padding:0 0 0 25px;
                // animation:textUp 2s ease-in-out 5s forwards, sec2_h1 1s ease-in-out 8s forwards;
              }
            }
            .sec_text {
              opacity: 0;
              width: 100%;
              transform: scale(0.8);
              transform-origin : 0 0;
              padding:50px 0 0 0;
              // animation:textUp_sec2 2s ease-in-out 5s forwards, sizeUp 1s ease-in-out 9s forwards;
              p {
                font-family: 'SUIT-SemiBold';
                font-size: clampSang(30);
                color:#fff;
                line-height: 1.7;
              }
            }
          }
        }

        .bg2 {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 1920px;
          height: 1080px;
          background:url(../images/bak3.png) 50% 50% no-repeat;
          background-size: cover;
          opacity: 0.5;
        }

        .sec2_loader {
          max-width: 1920px;
          max-height: 1080px;
          z-index: 1;
          #circle_g_sec2 {
            width: 100%;
            .sec2_circle {
              fill:#FF4713;
              transform: translate(70%, 7%) rotate(-30deg);
              transform-origin: 0 0;
              &:nth-child(1){
                opacity: 0 ;
                // animation: sec2Circle 3s ease-in-out forwards;
              }
              &:nth-child(2){
                opacity: 0;
                // animation: sec2Circle 3s ease-in-out 0.5s forwards;
              }
              &:nth-child(3){
                opacity: 0;
                // animation: sec2Circle 3s ease-in-out 1s forwards;
              }
              &:nth-child(4){
                opacity: 0;
                // animation: sec2Circle 3s ease-in-out 1.5s forwards;
              }
            }
          }
        }
      }
      // 문기
      /* section3(회사정보 및 연결) */
      #section3 {
        .container{
            margin: 0 auto;
            /* width: 1920px; */
            width: 100vw;
            color: #000;
            position: relative;
        }
        .top_box{
            width: 100%;
            /* height: 200px; */
            height: clamp(1rem,10.41667vw,20rem);
            background-color: #3CB4E5;
        }
        .container{
            margin: 0 auto;
            /* width: 1920px; */
            width: 100vw;
            color: #000;
            position: relative;
          }
          .top_box{
            width: 100%;
            /* height: 200px; */
            height: clamp(1rem,10.41667vw,20rem);
            background-color: #3CB4E5;
          }
          .cnt_box{
            margin: 0 auto;
            width: clamp(1rem,83.334%,160rem);
            height: clamp(1rem,45.8333vw,88rem);
            /* height: 880px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            z-index: 10;
          }
          .contact_container b{
            font-size: clamp(1rem,0.9375vw,1.8rem);
            /* font-size: 18px; */
            font-weight: 600;
            font-family: "SUIT-Bold";
          }
          address{
            font-size: clamp(1rem,0.9375vw,1.8rem);
            /* font-size: 18px; */
            /* margin-top: 40px; */
            margin-top: clamp(1rem,2.08333vw,4rem);
            font-family: "SUIT-Regular";
          }
          .contact_btn{
            /* width: 166px;
            height: 50px; */
            width: clamp(1rem,8.6458334vw,16.6rem);
            height: clamp(1rem,2.6041667vw,5rem);
            background-color: #000;
            color: #fff;
            text-align: center;
            /* line-height: 50px; */
            line-height: clamp(1rem,2.6041667vw,5rem);;
            /* border-radius: 80px; */
            border-radius: clamp(1rem,4.1667vw,8rem);
            cursor: pointer;
            transition: all .3s;
            /* margin-top: 50px; */
            margin-top: clamp(1rem,2.6041776vw,5rem);
          }
          .contact_btn p{
            /* font-size: 16px; */
            font-size: clamp(5px,0.8333vw,1.6rem);
            font-family: "SUIT-Bold";
          }
          .contact_btn .contact_wrap{opacity: 0;}

          /* contact버튼 마우스 호버 - 추후 클릭으로 변경 예정*/
          .contact_btn:hover{
            /* width: 730px;height: 313px;
            border-radius: 25px;
            padding: 20px 30px; */
            width: clamp(1rem,38.0208333vw,73rem);
            height: clamp(1rem,16.30208333vw,31.3rem);
            border-radius: clamp(1rem,1.30208333vw,2.5rem);
            padding: clamp(1rem,1.041667vw,2rem) clamp(1rem,1.5625vw,3rem);
            background-color: #000;
            color: #fff;
            cursor: auto;
          }
          .contact_btn:hover>p{display: none;}
          .contact_btn:hover .contact_wrap{
            opacity: 1;
            transition: all .3s;
            /* margin-top: -20px;
            margin-left: -30px; */
            margin-top: clamp(-2rem,-1.041667vw,-1rem);
            margin-left: clamp(-3rem,-1.5625vw,-1rem);
          }

          /* 회사 정보 및 연결 정보 기입 창 */
          .contact_wrap{
            /* width: 790px;height: 313px; */
            width: clamp(1rem,41.1458333vw,79rem);
            height: clamp(1rem,16.30208333vw,31.3rem);
            display: flex;
            opacity: 0;
          }
          .contact_wrapper{
            /* width: 730px;height: 313px;
            border-radius: 25px;
            padding: 20px 30px; */
            width: clamp(1rem,38.0208333vw,73rem);
            height: clamp(1rem,16.30208333vw,31.3rem);
            border-radius: clamp(1rem,1.30208333vw,2.5rem);
            padding: clamp(1rem,1.041667vw,2rem) clamp(1rem,1.5625vw,3rem);
            background-color: #000;
            color: #fff;
          }
          .input_box{
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
          }
          .input_box p:last-child input{
            /* width: 670px; */
            width: clamp(1rem,34.8958333vw,67rem);
          }
          .input_box p:nth-child(2) input,
          .input_box p:nth-child(4) input{
            /* margin-left: 30px; */
            margin-left: clamp(1rem,1.5625vw,3rem)
          }
          input[placeholder] {
            /* width: 320px;height: 50px; */
            width: clamp(1rem,16.667vw,32rem);
            height: clamp(1rem,2.6041667vw,5rem);
            /* font-size: 14px; */
            font-size: clamp(0.5rem,0.7291667vw,1.4rem);
            color: #fff;
            font-family: "SUIT-Light";
            border: 0;
            background-color: #000;
            outline: none;
            border-bottom: 1px solid #d9d9d9;
            /* margin-bottom: 20px; */
            margin-bottom: clamp(1rem,1.041667vw,2rem);
          }
          .send_btn{
            /* width: 670px;height: 50px; */
            width: clamp(1rem,34.8958333vw,67rem);
            height: clamp(1rem,2.6041667vw,5rem);
            background-color: #fff;
            color: #000;
            /* font-size: 14px; */
            font-size: clamp(1rem,0.7291667vw,1.4rem);
            font-family: "SUIT-Bold";
            text-align: center;
            /* line-height: 50px; */
            line-height: clamp(1rem,2.6041667vw,5rem);
            /* border-radius: 25px; */
            border-radius: clamp(1rem,1.30208333vw,2.5rem);
            cursor: pointer;
          }
          .close_btn{
            /* width: 50px;height: 50px; */
            width: clamp(1rem,2.6041667vw,5rem);
            height: clamp(1rem,2.6041667vw,5rem);
            /* margin-left: 10px; */
            margin-left: clamp(1rem,0.5208333vw,1rem);
            background: url(../images/close_btn.png) no-repeat 0 0 / auto 100%;
            background-size: contain;
            cursor: pointer;
          }

          /* section3_animation */

          canvas{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
          }
      }
      /* section4(인력 구인) */
      #section4{
        .container{
            margin: 0 auto;
            /* width: 1920px; */
            width: 100vw;
            color: #000;
            position: relative;
          }
          .top_view{
            /* width: 1419px;height: 227px; */
            width: clamp(1rem,73.90625vw,141.9rem);
            height: clamp(1rem,11.82291667vw,22.7rem);
            background: url(../images/s4_top.png) no-repeat 0 0 / auto 100%;
            background-size: contain;
            position: absolute;
            right: 0;
          }
          .cnt_box{
            margin: 0 auto;
            /* width: 1600px;
            height: 1080px; */
            width: clamp(1rem,83.333vw,160rem);
            height: clamp(1rem,56.25vw,108rem);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          .logo_container{
            display: flex;
            flex-direction: column;
            /* margin-top: 300px; */
            margin-top: clamp(1rem,15.625vw,30rem);
          }
          .career_container b{
            /* font-size: 40px; */
            font-size: clamp(1rem,2.08333vw,4rem);
            font-weight: bold;
            font-family: "SUIT-Heavy";
          }
          .career_container p{
            /* font-size: 18px;line-height: 30px; */
            font-size: clamp(1rem,0.9375vw,1.8rem);
            line-height: clamp(1rem,1.5625vw,3rem);
            font-family: "SUIT-Regular";
            /* margin-top: 25px;
            width: 410px; */
            margin-top: clamp(1rem,1.30208333vw,2.5rem);
            width: clamp(1rem,21.3541667vw,41rem);
          }
          .job_btn{
            /* width: 230px;height: 50px;
            font-size: 18px;line-height: 50px; */
            width: clamp(1rem,11.9791667vw,23rem);
            height: (1rem,2.6041667vw,5rem);
            font-size: clamp(0.5rem,0.9375vw,1.8rem);
            height: (1rem,2.6041667vw,5rem);
            font-family: "SUIT-Bold";
            text-align: center;
            border: 1px solid #000;
            /* border-radius: 25px;
            margin-top: 40px; */
            border-radius: clamp(1rem,1.30208333vw,2.5rem);
            margin-top: clamp(1rem,2.08333vw,4rem);
            cursor: pointer;
          }
          .big_logo{
            /* width: 789px;height: 212px; */
            width: clamp(1rem,41.09375vw,78.9rem);
            height: clamp(1rem,11.041667vw,21.2rem);
            background: url(../images/logo_large.png) no-repeat 0 0 / auto 100%;
            background-size: contain;
          }
      }
    }
  }




  // animation
  @keyframes preloader {
    // 0% {
    //   opacity: 0;
    // 	transform: scale(10);
    // }
    50% {
      transform: rotate(360deg);
    }
    100% {
      opacity: 0;
      transform: scale(10);
    }
  }

  @keyframes circleScale {
    15% {
      transform: scale(1);
      // fill:#FF4713;
      // transform: scale(24.5);
    }
    100% {
      fill:#FF4713;
      transform: scale(24.5);
    }
  }

  @keyframes circleScale2 {
    0% {
      fill:#FF4713;
      transform: scale(24.5);
      // fill:#FF4713;
      // transform: scale(24.5) translateX(0.7%);
    }
    100% {
      fill:#FF4713;
      transform: scale(24.5) translateX(0.7%);
    }
  }

  @keyframes circleScale3 {
    0% {
      transform: translateX(0%);
      // transform: translateX(17%);
    }
    100% {
      transform: translateX(17%);
    }
  }

  @keyframes circleSecond {
    0% {
      transform: translate(-20%, 20%);
      opacity: 0;
      // opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes circleThird {
    0% {
      transform: translateY(-5%);
      opacity: 0;
      // opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes textUp {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes textRight {
    0% {
      opacity: 0;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes oneEnd {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }

  @keyframes oneRe {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes sec2Circle {
    0% {
      opacity: 0;
    }
    80% {
      fill: #FF4713;
      opacity: 0.9;
    }
    100% {
      transform: rotate(-0.2deg) translate(50%, 115%) scale(4);
      fill: #3CB4E5;
      opacity: 1;
    }
  }

  @keyframes wave {
    0% {
        background-position: left 0px bottom -80px;
    }
    100% {
        background-position: left 1500px bottom 20px;
    }
  }

  @keyframes sec2_h1 {
    0% {

    }
    100% {
      color:#3CB4E5;
      text-shadow: none;
    }
  }

  @keyframes sizeUp {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes textUp_sec2 {
    0% {
      opacity: 0;
      transform: translateY(20%) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translateY(0%) scale(0.8);
    }
  }



  ///////////////// 반응형 ///////////////////////////
  @media all and (max-width:576px){
    #wrap #header .container .left a .logo {
      height: 25px;
    }

    #wrap #header .container .right .ham {
      width: 15px;
      height: 13px;
    }
    #wrap #header .container .right .ham .first_bar {
      height: 4px;
      border-radius: 0 3px 0 0;
    }
    #wrap #header .container .right .ham .second_bar {
      height: 4px;
      border-radius: 0 0 0 3px;
    }
    #wrap #header .container .right .ham.active .first_bar {
      transform: translateY(4.5px) rotate(-45deg);
      border-radius: 5px;
      background-color: #fff;
    }
    #wrap #header .container .right .ham.active .second_bar {
      transform: translateY(-4.5px) rotate(45deg);
      border-radius: 5px;
      background-color: #fff;
    }
  }

  @media all and (max-width:768px){

  }

  @media all and (max-width:992px){
    #wrap #main #section2 .gap {
      position: absolute;
      top: 45%;
      padding:0 0 0 30px;
    }
    #wrap #main #section2 .gap .container .main_text h1 {
      margin-bottom: 0px;
    }
    #wrap #main #section2 .gap .container .main_text span {
      padding: 0 0 0 5px;
    }
    #wrap #main #section2 .gap .container .sec_text {
      padding: 10px 0 0 0;
    }
  }